In [1]:
#Libreria
import pandas as pd

In [8]:
df = pd.read_csv('temperaturas.csv',delimiter =";")

In [9]:
nueva_temp = pd.DataFrame.from_dict([{'Año':'2022','temperatura':'74.3'}])

In [11]:
df = pd.concat([df,nueva_temp], ignore_index =True)

In [12]:
df

     Año temperatura
0   1960        71.4
1   1961        71.9
2   1962        71.9
3   1963        72.3
4   1964        71.7
..   ...         ...
59  2019        72.7
60  2020        74.6
61  2021        73.5
62  2022        74.3
63  2022        74.3

[64 rows x 2 columns]