In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('temperaturas.csv', delimiter=";")
df.head()

    Año  temperatura
0  1960         71.4
1  1961         71.9
2  1962         71.9
3  1963         72.3
4  1964         71.7

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Año          62 non-null     int64
 1   temperatura  62 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [5]:
print('Min:',df['temperatura'].min())
print('Max:',df['temperatura'].max())
print('Mean:',df['temperatura'].mean())
print('Std:',df['temperatura'].std())

Min: 70.9
Max: 75.3
Mean: 72.62419354838711
Std: 1.0573219315056979