##### Normalización: Ajusta los valores de las diferentes columnas para que existan en una escala común, lo que permite compararlos más fácilmente

Actividad: Aplicar una técnica de normalización en las columnas del dataframe

In [1]:
#Librerias
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv('datos.csv', delimiter = ";")
df.head()

   Altura   Peso
0    1.68  63.11
1    1.70  64.47
2    1.73  66.28
3    1.75  68.10
4    1.78  69.92

In [4]:
scaler = MinMaxScaler()

In [5]:
scaler_df =scaler.fit_transform(df)

In [8]:
scaler_df = pd.DataFrame(scaler_df, columns = ['Altura','Peso'])

In [9]:
scaler_df

      Altura      Peso
0   0.655172  0.141173
1   0.678161  0.158788
2   0.712644  0.182230
3   0.735632  0.205802
4   0.770115  0.229374
5   0.793103  0.258775
6   0.827586  0.288175
7   0.528736  0.686051
8   0.091954  0.805595
9   0.724138  0.389716
10  0.816092  0.846004
11  0.241379  0.680482
12  0.333333  0.086388
13  0.034483  0.178863
14  0.160920  0.704960
15  0.689655  0.751069
16  0.321839  0.389069
17  0.505747  0.620515
18  0.505747  0.516254
19  0.942529  1.000000
20  0.310345  0.238829
21  0.344828  0.798342
22  1.000000  0.105815
23  0.689655  0.365108
24  0.333333  0.940422
25  0.528736  0.533739
26  0.862069  0.812848
27  0.770115  0.064888
28  0.241379  0.830333
29  0.678161  0.036265
30  1.000000  0.253465
31  0.586207  0.576350
32  0.195402  0.000648
33  0.793103  0.853128
34  0.919540  0.064370
35  0.689655  0.889911
36  0.965517  0.134827
37  0.000000  0.091180
38  0.517241  0.248802
39  0.747126  0.285326
40  0.471264  0.528040
41  0.413793  0.000000
42  0.448276  0.011786
43  0.471264  0.029400
44  0.505747  0.047015
45  0.528736  0.064629
46  0.563218  0.082373
47  0.597701  0.099987
48  0.620690  0.117601