In [ ]:
#pip install -U scikit-learn

In [39]:
# Library
import pandas as pd
from sklearn.linear_model import LinearRegression

In [11]:
df = pd.read_csv('empleados.csv', delimiter=';')
print(df.head())

      Nombre  Apellido       Sexo Estado_Civil  Edad  Experiencia  Salario  \
0  Alexandro       NaN  Masculino   Soltero(a)  22.0          3.0   2423.0
1     Carlos       NaN  Masculino    Casado(a)  38.0         10.0   3132.0
2     Felipa       NaN   Femenino   Soltero(a)  26.0          5.0   2639.0
3     Daniel       NaN  Masculino    Casado(a)  35.0         10.0   3122.0
4       John       NaN  Masculino    Casado(a)  35.0         13.0   3431.0

  Gerencia          Departamento
0       No            Publicidad
1       Sí                   NaN
2       No             Comercial
3       No             Comercial
4       Sí  Servicios al cliente

In [12]:
df_ = df.drop(axis=1, columns=['Apellido'])
df_.isnull().sum()

Nombre           6
Sexo            37
Estado_Civil     4
Edad            61
Experiencia      4
Salario          6
Gerencia        21
Departamento    12
dtype: int64

In [27]:
df_actualizado_ = df_.dropna(axis=0, thresh=7)
df_actualizado_

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22.0,3.0,2423.0,No,Publicidad
1,Carlos,Masculino,Casado(a),38.0,10.0,3132.0,Sí,NaN
2,Felipa,Femenino,Soltero(a),26.0,5.0,2639.0,No,Comercial
3,Daniel,Masculino,Casado(a),35.0,10.0,3122.0,No,Comercial
4,John,Masculino,Casado(a),35.0,13.0,3431.0,Sí,Servicios al cliente
...,...,...,...,...,...,...,...,...
246,Jose,Masculino,Casado(a),30.0,6.0,2760.0,No,Servicios al cliente
247,Marcelo,Masculino,Divorciado(a),44.0,15.0,3616.0,No,IT
248,Eric,NaN,Casado(a),25.0,7.0,2880.0,Sí,Recursos Humanos
249,Marc,NaN,Casado(a),24.0,2.0,2172.0,No,Producto
250,Leandro,Masculino,Casado(a),37.0,11.0,3245.0,No,Finanzas

In [28]:
df_actualizado_.isnull().sum()

Nombre           1
Sexo            26
Estado_Civil     0
Edad            46
Experiencia      0
Salario          1
Gerencia         7
Departamento     3
dtype: int64

##### Imputación media

In [31]:
df_actualizado_['Edad'] = df_actualizado_['Edad'].fillna(df_actualizado_['Edad'].mean())

/tmp/ipykernel_19915/594628434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actualizado_['Edad'] = df_actualizado_['Edad'].fillna(df_actualizado_['Edad'].mean())

In [32]:
df_actualizado_.isnull().sum()

Nombre           1
Sexo            26
Estado_Civil     0
Edad             0
Experiencia      0
Salario          1
Gerencia         7
Departamento     3
dtype: int64

##### Imputación Regresión lineal

In [34]:
df_actualizado = df_.dropna(axis=0, thresh=7)
df_actualizado.isnull().sum()

Nombre           1
Sexo            26
Estado_Civil     0
Edad            46
Experiencia      0
Salario          1
Gerencia         7
Departamento     3
dtype: int64

In [46]:
columnas = df_actualizado.loc[:, ['Edad', 'Experiencia', 'Salario']]
columnas.isnull().sum()

Edad           46
Experiencia     0
Salario         1
dtype: int64

In [48]:
columnas['Salario'] = columnas[
    'Salario'].fillna(columnas['Salario'].mean())
columnas.isnull().sum()

Edad           46
Experiencia     0
Salario         0
dtype: int64

In [40]:
regresion_lineal = LinearRegression()

In [49]:
datos_entrenamiento = columnas[columnas['Edad'].isnull() == False]
datos_prueba = columnas[columnas['Edad'].isnull() == True]

In [50]:
y_train = datos_entrenamiento['Edad']
x_train = datos_entrenamiento.drop("Edad",axis=1)

In [51]:
regresion_lineal.fit(x_train,y_train)

LinearRegression()

In [52]:
datos_prueba = datos_prueba.drop("Edad",axis=1)

In [53]:
predicciones = regresion_lineal.predict(datos_prueba)

In [55]:
datos_prueba['Edad'] = predicciones

In [56]:
datos_prueba

     Experiencia  Salario       Edad
18          10.0   3194.0  38.135493
20          15.0   3635.0  44.214749
27          24.0   4529.0  55.946206
29          18.0   3907.0  47.920556
30           5.0   2656.0  31.292631
37           5.0   2676.0  31.450076
43           6.0   2709.0  32.231380
46           9.0   3027.0  36.299310
47          10.0   3128.0  37.615926
48          15.0   3614.0  44.049432
49          25.0   4611.0  57.113249
56          15.0   3656.0  44.380065
67          30.0   5034.0  63.050804
78           1.0   2095.0  24.790228
79           2.0   2222.0  26.311522
84          24.0   4545.0  56.072162
89          27.0   4889.0  60.344770
97           1.0   1929.0  23.483437
103          8.0   2919.0  34.927589
109          6.0   2774.0  32.743075
128         25.0   4652.0  57.436011
130         23.0   4500.0  55.196391
142         10.0   3115.0  37.513587
156         21.0   4214.0  51.901892
160         30.0   5116.0  63.696327
171         11.0   3209.0  38.775097
173         13.0   3433.0  41.581517
178          3.0   2492.0  28.958545
180         17.0   3847.0  46.926702
181         32.0   5358.0  66.644448
182          9.0   3059.0  36.551222
183         29.0   5085.0  62.930768
187          2.0   2209.0  26.209183
198         11.0   3300.0  39.491470
200          3.0   2320.0  27.604521
205         17.0   3839.0  46.863724
207         30.0   5189.0  64.271000
208         16.0   3797.0  46.011571
209         24.0   4516.0  55.843867
216         14.0   3507.0  42.685583
225         24.0   4544.0  56.064289
231          8.0   2986.0  35.455029
234          2.0   2169.0  25.894293
235         16.0   3769.0  45.791148
237         35.0   5614.0  70.224300
243         24.0   4510.0  55.796633