In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('empleados.csv',delimiter=";")
df = df.drop(['Apellido'],axis=1)
df.head()

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22.0,3.0,2423.0,No,Publicidad
1,Carlos,Masculino,Casado(a),38.0,10.0,3132.0,Sí,NaN
2,Felipa,Femenino,Soltero(a),26.0,5.0,2639.0,No,Comercial
3,Daniel,Masculino,Casado(a),35.0,10.0,3122.0,No,Comercial
4,John,Masculino,Casado(a),35.0,13.0,3431.0,Sí,Servicios al cliente

In [9]:
df = df.dropna()

1. Dividir dataframe en dos matrices. Matriz 1: Caracteristicas dependientes, Matriz 2: Independiente.

In [10]:
Y = df['Salario'].values.reshape(-1,1)
X = df['Experiencia'].values.reshape(-1,1)

2. Usar el 80% de los datos para entrenar el modelo y el otro 20% para probarlo. Hacer uso de la función train_test_split() de scikit-learn.

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.20)

In [12]:
regresion_lineal = LinearRegression()
regresion_lineal.fit(X_train,Y_train)
print('Coeficiente de regresión:', regresion_lineal.coef_)
print('Puntaje de regresión:', regresion_lineal.score(X_test,Y_test))

Coeficiente de regresión: [[108.55748178]]
Puntaje de regresión: 0.9911683260879404